abiword
fontconfig
lutris
Slack
font-manager
matplotlib
sqlitebrowser
arkrc
fyne
Meltytech
starship
audacity
gcloud
menus
sublime-text
autostart
gedit
Microsoft
swaylock
awesome
GIMP
Microsoft Teams - Preview
sxhkd
azuredatastudio
glib-2.0
mimeapps.list
systemd
balena-etcher
glow
monitors.xml
temp.txt
baloofileinformationrc
gnome-control-center
mpv
Thunar
baloofilerc
gnome-session
mssqlcli
torbrowser
binwalk
go
nautilus
totem
biolab.si
goa-1.0
neofetch
Trolltech.conf
blender
godot
nitrogen
Ultralytics
bless
google-chrome-for-testing
Notepadqq
UMLet
BlueMail
gpick
unity3d
BraveSoftware
grammarly-languageserver
nvim_backup
Unknown Organization
btop
gtk-2.0
obsidian
user-dirs.dirs
cairo-dock
gtk-3.0
obs-studio
user-dirs.locale
cava
gtk-4.0
okular.kmessagebox
vidcutter
cef_user_data
helix
okularpartrc
viewnior
chromium
htop
okularrc
VirtualBox
coc
pavucontrol.ini
VisualParadigm
Code - OSS
ibus
pdfarranger
vlc
configstore
inkscape
photopea-nativefier-7aebb1
copyq
JetBrains
pitivi
wezterm
Cursor
jxbrowser
Postman
whoozle.github.io
dconf
kconf_updaterc
procps
wireshark
discord
kdeglobals
pulse
wlogout
dolphinrc
kde.org
qBittorrent
xdg-desktop-portal
doublecmd
khotkeysrc
qt5ct
xfce4
dragonplayerrc
kitty
QtProject
xm1
dunst
konsolerc
QtProject.conf
xournalpp
Electron
konsolesshconfig
ranger
yay
environment.d
kritadisplayrc
rizin
yelp
epiphany
kritarc
rncbc.org
Zettlr
evolution
label-studio
zoom.conf
fcitx
libreoffice
Scrivener
zoomus.conf
fcitx5
libvirt
session
zsh
flowblade
light
signintoyouraccount-nativefier-83487f
.gsd-keyboard.settings-ported
*/.jukit
.jukit

